* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #09273A;

}

::-webkit-scrollbar {
  display: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000; 
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

#check {
    display: none;
}

.burger-icon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 769px) {
    .logo img {
        margin-right: 0;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 87.34px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
	}
	
	nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 20px;
    }

    .navbar a {
		text-align: center;
    }

    #check:checked~.navbar {
        display: flex;
	}

    .burger-icon {
        display: inline-block;
    }
}


.sociallink {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Középre igazítás vízszintesen */
    align-items: center;
    padding: 10px 0;
	z-index: 1000;
}

.social {
	display: flex;
    justify-content: center; /* Középre igazítás vízszintesen */
    align-items: center;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
}

.social a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.social a:hover {
    background-color: #fff;
    color: #000;
}